body {
    background-image:    url(images/wallpaper.jpg);
    width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
}
.banner {
margin-top: 0px;
padding-top: 0px;
text-align: center;
background-attachment: relative;
background-position: center center;
}
ul {
	list-style-type:none;
	margin:auto;
	padding:0%;
	position: center;
    text-align: center; 
   
}


li {
	display:inline-block;

	margin-right: 1px;
}
li a {
    
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}
li:hover a {
	background: #19c589;
}
div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}


.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.writeup {
  text-align: center;
 
}


