

@media screen and (min-width:500px) and (max-width:700px) {
}
body {
    background-image:    url(images/wallpaper.jpg);
    width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
}

.bbox{
    width: 100%;
}
.banner {
margin-top: 0px;
padding-top: 0px;
text-align: center;
background-attachment: scroll;
background-position: center center;
width: 100%;

}
ul {
	list-style-type:none;
	margin:auto;
	padding:0%;
	position: center;
    text-align: center; 
   
}


li {
	display:inline-block;

	margin-right: 1px;
}
li a {
    
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: saddlebrown;
	text-decoration: none;
}
li:hover a {
	background: black;
}
div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
    
}


.responsive {
    margin: 6px 300px;
    width: 24.99999%;
    text-align: center;
    
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.respo {
  
  margin: -600px 750px;
  width: 40%;
}

.opening {
    float: right;
    top: 340px;
    right: 400px;
    width: 300px;
    height: 400px;
    border: 5px solid saddlebrown;
    text-align: center;
    font-family: "Forte";
}



  
  

