body {
    background-image:    url(images/wallpaper.jpg);
    width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
}
.banner {
margin-top: 0px;
padding-top: 0px;
text-align: center;
background-attachment: relative;
background-position: center center;
}
ul {
	list-style-type:none;
	margin:auto;
	padding:0%;
	position: center;
    text-align: center; 
   
}


li {
	display:inline-block;

	margin-right: 1px;
}
li a {
    
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}
li:hover a {
	background: #19c589;
}
.menu-body {
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin-bottom: 80px;
}

.menu-section-title {
  font-family: georgia;
  font-size: 50px;
  display: block;
  font-weight:normal;
  margin: 20px 0; 
  text-align: Center;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name{
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}